.welcome-screen-body .content-wrapper {
  background-color: #fff !important;
}

.welcome-screen .welcome-header {
  padding: 25px 0;
}

.welcome-screen .welcome-header .welcome-card {
  position: relative;
}

.welcome-screen .welcome-header .welcome-card:after {
  content: "";
  width: 110px;
  height: 110px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  right: 9px;
  opacity: 0.5;
  z-index: 1;
}

.welcome-screen .welcome-header .welcome-card .card-body {
  position: relative;
  z-index: 2;
}

.welcome-screen .welcome-body {
  padding: 25px 0;
  background-color: #fff;
  min-height: 100vh;
}

.welcome-screen .welcome-body .product-tour {
  flex: 0 0 auto;
  width: 200px;
  background-color: #dcedf9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.welcome-screen .welcome-body .product-tour:hover {
  background-color: #c4d8f0;
}

.onboarding-card {
  background: linear-gradient(90deg, rgba(22, 205, 199, 0.2) 30%, rgba(22, 205, 199, 0) 100%);
}

.onboarding-card .onboarding-card-clinet-name {
  flex: 1;
  min-width: 300px;
}

.tour_video_wrapper {
  width: 100%;
  height: 630px;
}

@media (max-width: 1200px) {
  .tour_video_wrapper {
    height: 400px;
  }
}

@media (max-width: 991px) {
  .tour_video_wrapper {
    height: 260px;
  }
}

@media (max-width: 479px) {
  .tour_video_wrapper {
    height: 230px;
  }
}

@media (max-width: 420px) {
  .tour_video_wrapper {
    height: 200px;
  }
}

.onboarding-card-tabs .nav-pills {
  gap: 10px;
}

.onboarding-card-tabs .nav-pills .nav-item .nav-link {
  background-color: #e2ecf5;
}

.onboarding-card-tabs .nav-pills .nav-item .nav-link.active {
  background-color: #007bff;
}

.billing-card .billing-card-info {
  flex: 1;
  min-width: 200px;
}
