.side_pro_info_wrap_2 {
  width: 264px;
  transition: opacity .3s ease, visibility .3s ease;
}

.side_pro_info_wrap_2 .side_pro_info {
  background-color: rgba(36, 114, 151, 0.2);
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.side_pro_info_wrap_2 .side_pro_info .side_pro_info_logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 238, 255, 0.354);
  padding: 12px 10px;
  flex: 0 0 auto;
}

.side_pro_info_wrap_2 .side_pro_info .comp_name_ {
  color: #fff;
  margin: 0 0 25px;
  font-size: 14px;
  text-align: center;
}

.side_pro_info_wrap_2 .side_pro_info .plan_name__ {
  color: #0adaff;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #0adaff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  padding: 14px 10px 8px;
  position: relative;
}

.side_pro_info_wrap_2 .side_pro_info .plan_name__ label {
  background-color: #0adaff;
  color: #000000;
  padding: 2px 15px;
  font-size: 12px;
  border-radius: 20px;
  position: absolute;
  top: -12px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar-mini.sidebar-collapse .side_pro_info_wrap_2 {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
  opacity: 0;
}

.sidebar-mini.sidebar-collapse .main-sidebar:not(.sidebar-no-expand):hover .side_pro_info_wrap_2 {
  display: inline-block;
  margin-left: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: visible;
  opacity: 1;
}
